<h1>List</h1>
<a routerLink="/create">Crear</a>


<br /> <br />

<table border="1" cellpadding="10">
  <thead>
    <tr>
      <th> Nota </th>
      <th> Fecha </th>
      <th> Actions </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let note of notes | async">
      <td> {{ note.text }} </td>
      <td> {{ note.date | date: 'dd/MM/yyyy' }} </td>
      <td> 
        <button (click)="noteEdit(note.id)">Edit</button> &nbsp;
        <button (click)="noteDelete(note.id, note.text)">Delete</button> 
      </td>
    </tr>
  </tbody>

</table>
